<section  class="daria_header"
>header</section>
<!-- убрать!!!!   -->
<section class="product" > 
    <div class="container container_product">   
        <div class="product__title-wrap">
        <label  class="product__title_up"> 100% natural </label>
        <h2 class="product__title"> products
        </h2>
        </div>

        <ul  class="product__list list">
            <li class="product__item">
                <!-- img - pseudoelements -->
                <div class="product__card card__ice-cream">
                <h3 class="product__card-title">ice cream</h3>
                <!-- pseudoelement * * * -->
                <p class="product__descr">Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et. dolore magna aliqua facilisis. 
                    </p>
                    <button type="button" class= "product__detail-btn ice-cream-menu__open-btn"   >
                        <!-- add svg something -->
                        <svg class="icon-arrow" width ="40" height ="40" >
                            <use href="./images/icons.svg#icon-arrow-right"></use>
                        </svg>
                    </button>

                    <!-- <div class="product__menu ice-cream__is-hidden">
                        <div class="ice-cream__menu-top">
        
                            <button type="button" class="ice-cream-menu__close-btn">
                                <svg class="mob__close-icon"  width="18.34" height="18.34">
                                <use href="./images/icons.svg#icon-close_24px" >XX
                                </use>
                            </svg></button>
        
        
                            <ul class="ice-cream__list list">
                               <li>Ice cream 1</li>
                               <li> Ice-cream-2</li>
                               <li>Ice-cream 3</li>
                               <li>Ice-cream-4</li>
                            </ul>
                        </div>

                </div> -->
            </li>
            
            <li class="product__item">
                <!-- img - pseudoelements -->
                <div class="product__card card__ice-coffee">
                    <h3 class="product__card-title">ice coffee</h3>
                    <!-- pseudoelement * * * -->
                    <p class="product__descr">Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et. dolore magna aliqua facilisis. 
                        </p>
                        <button type="button" class= "product__detail-btn"   >
                            <!-- add svg something -->
                            <svg class="icon-arrow" width ="40" height ="40" >
                                <use href="./images/icons.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                </div>
            </li>
            <li class="product__item"> 
                <!-- img - pseudoelements -->
                <div class="product__card card__milkshakes">
                    <h3 class="product__card-title">milkshakes</h3>
                    <!-- pseudoelement * * * -->
                    <p class="product__descr">Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et. dolore magna aliqua facilisis. 
                        </p>
                        <button type="button" class= "product__detail-btn"   >
                            <!-- add svg something -->
                            <svg class="icon-arrow" width ="40" height ="40" >
                                <use href="./images/icons.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                </div>
            </li>
        </ul>

    </div>
</section>
 